@import 'variables';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.conteiner {
  max-width: 1153px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  @include font-big-title;

  @include breakpoint(md) {
    font-size: 60px;
    line-height: 85px;
  }
    @include breakpoint(xs) {
      font-size: 40px;
      line-height: 66px;
    }
}

.section-title {
    @include font-title;
    margin-bottom: 15px;
    text-align: center;
}

.section-subtitle {
    @include font-2;
    text-align: center;
}

// header

.header {
  padding: 20px 0 21px;

  &__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(lg) {
        justify-content: space-around;
      }
    
    @include breakpoint(sm) {
      justify-content: space-between;
    }
  }
}

.logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;

  @include breakpoint(sm) {
    font-size: 18px;
    line-height: 22px;
  }

}

// navigation

.nav-btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  position: relative;
  border: none;

  @include breakpoint(lg) {
      display: block;
    }

  &:hover {
    cursor: pointer;
  }
  
  &__span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: $color-primary;

    &::before{
      content: '';
      width: 30px;
      height: 5px;
      background-color: $color-primary;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::after {
      content: '';
      width: 30px;
      height: 5px;
      background-color: $color-primary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.nav {
  @include breakpoint(lg) {
    position: absolute;
    width: 300px;
    background-color: $backgrount-dark;
    opacity: 0.8;
    top: -300px;
    right: 0;
    transition: all .3s;
    box-shadow: -1px 1px 3px $color-primary;
  }
}

.nav.active {
  top: 83px;

  @include breakpoint(sm) {
    top: 66px;
  }
}

.nav__list {
  display: flex;

  @include breakpoint(lg) {
    flex-direction: column;
  }

  &-item {
    @include font($font-weight: 400);
    text-transform: uppercase;

    @include breakpoint(lg) {
      border-bottom: 1px solid $color-primary;
    }

    &:not(:first-child) {
      margin-left: 30px;

      @include breakpoint(lg) {
        margin-left: 0;
        margin-top: 5px;
      }

    }
  }
}

.nav__list-link {
  @include breakpoint(lg) {
    margin-left: 20px;
    display: block;
  }
}

// header-icon

.header-icon {
  display: flex;
  align-items: center;

  &__item {
    margin-left: 30px;

    @include breakpoint(lg) {
      margin-left: 0;
    }

    &:nth-child(2n) {
      @include breakpoint(lg) {
          padding: 0 30px;
        }

      @include breakpoint(sm) {
        padding: 0 20px;
      }
    }

    &-link {
      display: block;
      width: 18px;
      height: 18px;
    }
  }
}

// hero

.hero {
  background-image: url(../images/hero-bg.jpg);
  @include background-option;
  margin-bottom: 121px;

  @include breakpoint(sm){
    background-position: 35%;
  }

  @include breakpoint(md) {
    margin-bottom: 50px;
  }

  &-conteiner {
    display: flex;
    justify-content: end;

    @include breakpoint(md) {
      justify-content: center;
    }
  }

  &__content {
    padding: 426px 0 101px;

    @include breakpoint(md) {
      padding: 250px 0 70px;
    }
        @include breakpoint(xs) {
          text-align: center;
        }

    &-subtitle {
      @include font;
      text-transform: uppercase;
    }

    &-text {
      @include font;
      margin-bottom: 27px;

      @include breakpoint(md) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &-btn {
      display: inline-block;
      @include btn-link;

      @include breakpoint(xs) {
        font-size: 16px;
        width: 125px;
      }

      &:first-child {
        margin-right: 34px;

        @include breakpoint(xs) {
          margin-right: 18px;
        }
      }
    }
  }
}

// category

.category {
  margin-bottom: 111px;

  @include breakpoint(md) {
      margin-bottom: 50px;
  }
 }

.grid-item-1 {
  max-width: 551px;
  max-height: 287px;
  grid-area: a;
}

.grid-item-2 {
  max-width: 552px;
  max-height: 579px;
  grid-area: b;
}

.grid-item-3 {
  max-width: 262px;
  max-height: 265px;
  grid-area: c;
}

.grid-item-4 {
  max-width: 262px;
  max-height: 265px;
  grid-area: d;
}

.category__list {
  display: grid;
  gap: 25px;
  grid-template-areas:
    "a a b b"
    "c d b b";

    @include breakpoint(lg) {
      grid-template-areas: 
      "a a"
      "c d"
      "b b"
      "b b";
      gap: 15px;
      max-width: 552px;
      margin: 0 auto;

      @include breakpoint(xs) {
        gap: 5px;
      }
    }

  &-item {
    background-color: $color-primary;
    position: relative;

    &:hover .category__list-img {
        opacity: .5;
    }

    &:hover .category__list-link {
        display: block;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    transition: all .3s;
  }

  &-link {
    position: absolute;
    @include btn-link(203px, $color-white, $color-primary);
    bottom: 28px;
    left: 32px;
    display: none;

    @include breakpoint(lg) {
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: .6;
    }
  }
}

// woman, man

.woman, .man {
    margin-bottom: 111px;

    @include breakpoint(md) {
      margin-bottom: 50px;
    }
    
}

.stuff__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(lg) {
      justify-content: space-around;
    }

    &-card {
        max-width: 278px;
        padding: 0 5px;
        margin-top: 30px;

        @include breakpoint(lg) {
          padding: 0 10px;
        }
    }
}

.stuff__link{

    &-img {
        width: 100%;
        margin-bottom: 38px;

        @include breakpoint(lg) {
          margin-bottom: 15px;
        }
    }

    &-brand {
        @include font-2($font-weight: 300);
        margin-bottom: 3px;
    }

    &-name {
        @include font-2($font-weight: 600);
    }

    &-price {
        @include font-2;

        &-old {
            text-decoration: line-through;
            margin-right: 34px;
        }

        &-new {
            color: $color-accent;
        }
    }
}

// styles

.styles {
    margin-bottom: 121px;

    @include breakpoint(lg) {
      margin-bottom: 50px;
    }
}

.styles__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
    }

    &-blok {
        max-width: 552px;
        position: relative;

        @include breakpoint(lg) {
          width: 100%;
          margin: 0 auto;
        }
    }

    &-img {
        max-width: 100%;
        margin-top: 85px;
        padding-right: 5px;

        @include breakpoint(md) {
          margin-top: 25px;
        }
    }

    &-blok_img {
        width: 100%;
        padding-right: 38px;
    }

    &-blok_imgsmall {
        position: absolute;
        padding-top: 22px;
        padding-left: 25px;
        right: 0;
        bottom: 5px;
        background-color: $color-white;

        @include breakpoint(sm) {
          padding-top: 10px;
          padding-left: 15px;
          bottom: 30px;
        }
    }

    &-link {
        @include font-2;
        display: block;
        max-width: 169px;
        margin-top: 174px;
        margin-left: 120px;
        padding-bottom: 4px;
        border-bottom: 1px solid $color-primary;

        @include breakpoint(xl) {
          margin-left: 0;
        }
    }
}

// tachen

.tachen {
    background-image: url(../images/tachen-bg.jpg);
    @include background-option;

    @include breakpoint(md) {
      background-position: 90%;
    }

    &__content {
        padding-top: 434px;
        padding-bottom: 129px;
        display: flex;
        flex-direction: column;

        @include breakpoint(lg) {
          padding-top: 200px;
          padding-bottom: 70px;

          @include breakpoint(md) {
              text-align: center;

              @include breakpoint(sm) {
                padding-top: 100px;
                padding-bottom: 40px;
              }
            }
        }

        &-btn {
          @include btn-link(214px);
          
          @include breakpoint(md) {
            margin: 0 auto;
          }
        }
    }
}

// footer

.footer {
  background-color: $background-light;

  &-top {
      padding-top: 115px;
      padding-bottom: 106px;
      display: flex;
      justify-content: space-between;

      @include breakpoint(lg) {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
      }
    }

    &-title {
      font-size: 25px;
      line-height: 38px;
      font-weight: 700;
    }
}

// footer-blok-left

.footer-blok-left {
  max-width: 406px;

  @include breakpoint(lg) {
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  &__text {
    @include font-2;
    margin: 17px 0 41px;
  }
}

.address__list-item {
  @include font-2;
  font-style: normal;

  &:first-child {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-top: 7px;
  }

  &-icon {
    margin-right: 26px;
  }

  &-mail-link {
    border-bottom: 1px solid $color-primary;
    padding-bottom: 3px;
  }
}

.social__list {
  margin-top: 16px;
  display: flex;

  @include breakpoint(lg) {
    justify-content: center;
  }

  &-item {
    margin-right: 15px;
    margin-left: 15px;
  }
}

// footer-blok-right

.footer-blok-right {
  max-width: 532px;

  @include breakpoint(lg) {
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.form {
  margin-top: 24px;
  position: relative;

  &__mail {
    width: 100%;
    @include font-2;
    padding-left: 24px;
    height: 45px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    right: 23px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    @include font-2($font-weight: 600);
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.blok-lists {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;

  @include breakpoint(sm) {
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: center;
      flex-direction: column;
    }

  &__list:not(:last-child) {
    margin-right: 88px;

    @include breakpoint(sm) {
        margin-right: 0;
      }
  }

  &__list {
    @include breakpoint(sm) {
        margin-top: 20px auto 0;
        text-align: center
      }
  }

  &__list-item{
    @include font-2;
  }

    &__list-item:not(:nth-child(2)){
      margin-top: 21px;
    }
}

.list__title {
  @include font-title($font-weight: 600);
  margin-bottom: 27px;
}

.footer-bottom {
  background-color: $backgrount-dark;
  text-align: center;
  padding: 35px 0;

  &__text {
    @include font-2;
  }
}