*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.conteiner {
  max-width: 1153px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
}
@media (max-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 85px;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 40px;
    line-height: 66px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.section-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

.header {
  padding: 20px 0 21px;
}
.header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .header__conteiner {
    justify-content: space-around;
  }
}
@media (max-width: 576px) {
  .header__conteiner {
    justify-content: space-between;
  }
}

.logo {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}
@media (max-width: 576px) {
  .logo {
    font-size: 18px;
    line-height: 22px;
  }
}

.nav-btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  position: relative;
  border: none;
}
@media (max-width: 992px) {
  .nav-btn {
    display: block;
  }
}
.nav-btn:hover {
  cursor: pointer;
}
.nav-btn__span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #22262a;
}
.nav-btn__span::before {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #22262a;
  position: absolute;
  left: 0;
  top: 0;
}
.nav-btn__span::after {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #22262a;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 992px) {
  .nav {
    position: absolute;
    width: 300px;
    background-color: #e7f5f8;
    opacity: 0.8;
    top: -300px;
    right: 0;
    transition: all 0.3s;
    box-shadow: -1px 1px 3px #22262a;
  }
}

.nav.active {
  top: 83px;
}
@media (max-width: 576px) {
  .nav.active {
    top: 66px;
  }
}

.nav__list {
  display: flex;
}
@media (max-width: 992px) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .nav__list-item {
    border-bottom: 1px solid #22262a;
  }
}
.nav__list-item:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 992px) {
  .nav__list-item:not(:first-child) {
    margin-left: 0;
    margin-top: 5px;
  }
}

@media (max-width: 992px) {
  .nav__list-link {
    margin-left: 20px;
    display: block;
  }
}

.header-icon {
  display: flex;
  align-items: center;
}
.header-icon__item {
  margin-left: 30px;
}
@media (max-width: 992px) {
  .header-icon__item {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .header-icon__item:nth-child(2n) {
    padding: 0 30px;
  }
}
@media (max-width: 576px) {
  .header-icon__item:nth-child(2n) {
    padding: 0 20px;
  }
}
.header-icon__item-link {
  display: block;
  width: 18px;
  height: 18px;
}

.hero {
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 121px;
}
@media (max-width: 576px) {
  .hero {
    background-position: 35%;
  }
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 50px;
  }
}
.hero-conteiner {
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  .hero-conteiner {
    justify-content: center;
  }
}
.hero__content {
  padding: 426px 0 101px;
}
@media (max-width: 768px) {
  .hero__content {
    padding: 250px 0 70px;
  }
}
@media (max-width: 450px) {
  .hero__content {
    text-align: center;
  }
}
.hero__content-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
.hero__content-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 27px;
}
@media (max-width: 768px) {
  .hero__content-text {
    font-size: 16px;
    line-height: 18px;
  }
}
.hero__content-btn {
  display: inline-block;
  width: 147px;
  background-color: #22262a;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
@media (max-width: 450px) {
  .hero__content-btn {
    font-size: 16px;
    width: 125px;
  }
}
.hero__content-btn:first-child {
  margin-right: 34px;
}
@media (max-width: 450px) {
  .hero__content-btn:first-child {
    margin-right: 18px;
  }
}

.category {
  margin-bottom: 111px;
}
@media (max-width: 768px) {
  .category {
    margin-bottom: 50px;
  }
}

.grid-item-1 {
  max-width: 551px;
  max-height: 287px;
  grid-area: a;
}

.grid-item-2 {
  max-width: 552px;
  max-height: 579px;
  grid-area: b;
}

.grid-item-3 {
  max-width: 262px;
  max-height: 265px;
  grid-area: c;
}

.grid-item-4 {
  max-width: 262px;
  max-height: 265px;
  grid-area: d;
}

.category__list {
  display: grid;
  gap: 25px;
  grid-template-areas: "a a b b" "c d b b";
}
@media (max-width: 992px) {
  .category__list {
    grid-template-areas: "a a" "c d" "b b" "b b";
    gap: 15px;
    max-width: 552px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) and (max-width: 450px) {
  .category__list {
    gap: 5px;
  }
}

.category__list-item {
  background-color: #22262a;
  position: relative;
}
.category__list-item:hover .category__list-img {
  opacity: 0.5;
}
.category__list-item:hover .category__list-link {
  display: block;
}
.category__list-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.category__list-link {
  position: absolute;
  width: 203px;
  background-color: #fff;
  color: #22262a;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  bottom: 28px;
  left: 32px;
  display: none;
}
@media (max-width: 992px) {
  .category__list-link {
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.6;
  }
}

.woman,
.man {
  margin-bottom: 111px;
}
@media (max-width: 768px) {
  .woman,
  .man {
    margin-bottom: 50px;
  }
}

.stuff__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .stuff__list {
    justify-content: space-around;
  }
}
.stuff__list-card {
  max-width: 278px;
  padding: 0 5px;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .stuff__list-card {
    padding: 0 10px;
  }
}

.stuff__link-img {
  width: 100%;
  margin-bottom: 38px;
}
@media (max-width: 992px) {
  .stuff__link-img {
    margin-bottom: 15px;
  }
}
.stuff__link-brand {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 3px;
}
.stuff__link-name {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.stuff__link-price {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.stuff__link-price-old {
  text-decoration: line-through;
  margin-right: 34px;
}
.stuff__link-price-new {
  color: #cf2929;
}

.styles {
  margin-bottom: 121px;
}
@media (max-width: 992px) {
  .styles {
    margin-bottom: 50px;
  }
}

.styles__content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .styles__content {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}
.styles__content-blok {
  max-width: 552px;
  position: relative;
}
@media (max-width: 992px) {
  .styles__content-blok {
    width: 100%;
    margin: 0 auto;
  }
}
.styles__content-img {
  max-width: 100%;
  margin-top: 85px;
  padding-right: 5px;
}
@media (max-width: 768px) {
  .styles__content-img {
    margin-top: 25px;
  }
}
.styles__content-blok_img {
  width: 100%;
  padding-right: 38px;
}
.styles__content-blok_imgsmall {
  position: absolute;
  padding-top: 22px;
  padding-left: 25px;
  right: 0;
  bottom: 5px;
  background-color: #fff;
}
@media (max-width: 576px) {
  .styles__content-blok_imgsmall {
    padding-top: 10px;
    padding-left: 15px;
    bottom: 30px;
  }
}
.styles__content-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: block;
  max-width: 169px;
  margin-top: 174px;
  margin-left: 120px;
  padding-bottom: 4px;
  border-bottom: 1px solid #22262a;
}
@media (max-width: 1100px) {
  .styles__content-link {
    margin-left: 0;
  }
}

.tachen {
  background-image: url(../images/tachen-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .tachen {
    background-position: 90%;
  }
}
.tachen__content {
  padding-top: 434px;
  padding-bottom: 129px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .tachen__content {
    padding-top: 200px;
    padding-bottom: 70px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .tachen__content {
    text-align: center;
  }
}

@media (max-width: 992px) and (max-width: 768px) and (max-width: 576px) {
  .tachen__content {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.tachen__content-btn {
  width: 214px;
  background-color: #22262a;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
@media (max-width: 768px) {
  .tachen__content-btn {
    margin: 0 auto;
  }
}

.footer {
  background-color: #f2f8fc;
}
.footer-top {
  padding-top: 115px;
  padding-bottom: 106px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }
}
.footer-title {
  font-size: 25px;
  line-height: 38px;
  font-weight: 700;
}

.footer-blok-left {
  max-width: 406px;
}
@media (max-width: 992px) {
  .footer-blok-left {
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}
.footer-blok-left__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin: 17px 0 41px;
}

.address__list-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  font-style: normal;
}
.address__list-item:first-child {
  margin-bottom: 16px;
}
.address__list-item:last-child {
  margin-top: 7px;
}
.address__list-item-icon {
  margin-right: 26px;
}
.address__list-item-mail-link {
  border-bottom: 1px solid #22262a;
  padding-bottom: 3px;
}

.social__list {
  margin-top: 16px;
  display: flex;
}
@media (max-width: 992px) {
  .social__list {
    justify-content: center;
  }
}
.social__list-item {
  margin-right: 15px;
  margin-left: 15px;
}

.footer-blok-right {
  max-width: 532px;
}
@media (max-width: 992px) {
  .footer-blok-right {
    margin: 0 auto;
  }
}
.footer-blok-right__list {
  display: flex;
  justify-content: space-between;
}

.form {
  margin-top: 24px;
  position: relative;
}
.form__mail {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  padding-left: 24px;
  height: 45px;
  border: none;
}
.form__mail:focus {
  outline: none;
}
.form__button {
  position: absolute;
  right: 23px;
  top: 0;
  bottom: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  border: none;
}
.form__button:hover {
  cursor: pointer;
}

.blok-lists {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .blok-lists {
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    flex-direction: column;
  }
}
.blok-lists__list:not(:last-child) {
  margin-right: 88px;
}
@media (max-width: 576px) {
  .blok-lists__list:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .blok-lists__list {
    margin-top: 20px auto 0;
    text-align: center;
  }
}
.blok-lists__list-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.blok-lists__list-item:not(:nth-child(2)) {
  margin-top: 21px;
}

.list__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 27px;
}

.footer-bottom {
  background-color: #e7f5f8;
  text-align: center;
  padding: 35px 0;
}
.footer-bottom__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
